.code {
  position: relative;
  margin-top: 20px !important;
  padding: 20px !important;
}

.code .path {
  padding: 0;
  color: grey;
}

.code hr {
  margin: 15px 0 0 0;
}

.code pre {
  margin-top: 15px;
  border: 0 !important;
}

.code .env {
  position: absolute;
  right: 15px;
  top: 20px
}
